<div>
    <div>
        <label translate>NODE_MANAGEMENT.HOST_CATEGORY</label>
        <div class="btn-group level-button-group">
            <button type="button"
                    class="btn btn-default"
                    ng-class="{active: $ctrl.hostCategory==='agent'}"
                    ng-click="$ctrl.updateHostCategory('agent')"
                    translate>HOST_CATEGORY.AGENT
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-class="{active: $ctrl.hostCategory==='http'}"
                    ng-click="$ctrl.updateHostCategory('http')"
                    translate>HOST_CATEGORY.HTTP
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-class="{active: $ctrl.hostCategory==='router'}"
                    ng-click="$ctrl.updateHostCategory('router')"
                    translate>HOST_CATEGORY.ROUTER
            </button>
        </div>
    </div>

        <div>
            <div class="row" style="margin-top:10px; margin-bottom:10px;">
                <div class="col-md-12">
                    <h4 translate>NODE_MANAGEMENT.HOST_LIST</h4>
                </div>
            </div>

            <bitcraft-host-list host-list="$ctrl.hostList"
                       is-operation-in-progress="$ctrl.isOperationInProgress"
                       distribution-list="$ctrl.distributions"
                       host-category="$ctrl.hostCategory"
                       on-host-clicked="$ctrl.onHostClicked(hostInfo)"
                       on-check-http-state="$ctrl.checkHttpState(hostInfo)"
                       on-start-http="$ctrl.onStartHttp(hostInfo, callback)"
                       on-stop-http="$ctrl.onStopHttp(hostInfo, callback)"
                       on-get-node-count="$ctrl.onGetNodeCount(hostInfo)"
                       on-uninstall-host="$ctrl.onUninstallHost(hostInfo)"
                       on-reinstall-sentinel="$ctrl.onReinstallSentinel(hostInfo, callback)"
                       on-install-http="$ctrl.onInstallHttp(distributionId, hostId, callback)"
                       on-check-http-install="$ctrl.onCheckHttpInstall(hostInfo)"
            ></bitcraft-host-list>

        </div>
    </div>

    <div ng-show="$ctrl.hostCategory==='agent'"
         class="col-md-12">
        <div class="row" style="margin-top:10px; margin-bottom:10px;">
            <div class="col-md-12">
                <h4 translate>NODE_MANAGEMENT.NODE_LIST</h4>
            </div>
        </div>

        <!-- add new node form -->
        <div ng-show="$ctrl.selectedHost"
             style="margin-top: 10px; margin-bottom: 10px">
            <uib-accordion>
                <div uib-accordion-group class="panel-default"
                     heading="{{'NODE_MANAGEMENT.CREATE_NODE'|translate}}" is-open="false">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-2">
                                    <label class="control-label" for="input-name" translate>NODE_MANAGEMENT.NAME</label>
                                </div>
                                <div class="col-md-4">
                                    <input
                                            ng-model="$ctrl.newNodeName"
                                            type="text"
                                            class="form-control"
                                            id="input-name"
                                    >
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-2">
                                    <label class="control-label" for="input-tcpPort" translate>NODE_MANAGEMENT.TCP_PORT</label>
                                </div>
                                <div class="col-md-4">
                                    <input
                                            ng-model="$ctrl.newTcpPort"
                                            type="text"
                                            class="form-control"
                                            id="input-tcpPort"
                                    >
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="input-udpPort" translate>NODE_MANAGEMENT.UDP_PORT</label>
                                </div>
                                <div class="col-md-4">
                                    <input
                                            ng-model="$ctrl.newUdpPort"
                                            type="text"
                                            class="form-control"
                                            id="input-udpPort"
                                    >
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-2">
                                    <label class="control-label" for="input-adminAccessHost"
                                           translate>NODE_MANAGEMENT.ADMIN_ACCESS_HOST</label>
                                </div>
                                <div class="col-md-4">
                                    <input
                                            ng-model="$ctrl.adminAccessHost"
                                            type="text"
                                            ng-disabled="true"
                                            class="form-control"
                                            id="input-adminAccessHost"
                                    >
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" for="input-adminAccessPort"
                                           translate>NODE_MANAGEMENT.ADMIN_ACCESS_PORT</label>
                                </div>
                                <div class="col-md-4">
                                    <input
                                            ng-model="$ctrl.adminAccessPort"
                                            type="text"
                                            class="form-control"
                                            id="input-adminAccessPort"
                                    >
                                </div>
                            </div>

                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-md-2">
                                    <label class="control-label" for="input-customData" translate>NODE_MANAGEMENT.CUSTOM_DATA</label>
                                </div>
                                <div class="col-md-10">
                                    <div ui-ace="$ctrl.aceSettings"
                                         id="input-customData"
                                         ng-model="$ctrl.customData"
                                         style="height: 200px; background: whitesmoke;"
                                    />
                                </div>
                            </div>

                            <a class="btn btn-primary"
                               ng-click="$ctrl.onAddNode()"
                               translate>
                                GENERAL.ADD
                            </a>
                        </div>
                    </form>
                </div>
            </uib-accordion>
        </div>

        <div ng-if="$ctrl.selectedHost" class="row" style="margin-top:20px; margin-bottom:20px;">
            <label class="control-label col-md-2" translate>NODE_MANAGEMENT.BULK_OPERATIONS</label>

            <!-- install distribution form -->
            <form editable-form name="installForm"
                  onbeforesave="$ctrl.installAllNodes($ctrl.selectedHost, $ctrl.selectedDistribution)"
                  ng-show="installForm.$visible" class="form-buttons form-inline">
                <select
                        ng-model="$ctrl.selectedDistribution"
                        class="form-control"
                        id="distribution-list"
                        ng-options="dist as (dist.name + ' - ' + dist.version)
                            for dist in $ctrl.distributions
                            track by dist._id"
                >
                </select>
                <button type="submit" ng-disabled="installForm.$waiting"
                        class="btn btn-primary" translate>
                    DIALOGS_OK
                </button>
                <button type="button" ng-disabled="installForm.$waiting"
                        ng-click="installForm.$cancel()" class="btn btn-default" translate>
                    GENERAL.CANCEL
                </button>
            </form>

            <div ng-show="!installForm.$visible">
                <button type="button"
                        class="btn btn-primary"
                        ng-click="installForm.$show()"
                        ng-disabled="$ctrl.isOperationInProgress || !$ctrl.nodeList.length"
                        translate>NODE_MANAGEMENT.INSTALL
                </button>
                <button type="button"
                        class="btn btn-success"
                        ng-click="$ctrl.startAllNodes($ctrl.selectedHost)"
                        ng-disabled="$ctrl.isOperationInProgress || !$ctrl.nodeList.length"
                        translate>GENERAL.START
                </button>
                <button type="button"
                        class="btn btn-danger"
                        ng-click="$ctrl.stopAllNodes($ctrl.selectedHost)"
                        ng-disabled="$ctrl.isOperationInProgress || !$ctrl.nodeList.length"
                        translate>GENERAL.STOP
                </button>
                <button type="button"
                        class="btn btn-default"
                        ng-click="$ctrl.uninstallAllNodes($ctrl.selectedHost)"
                        ng-disabled="$ctrl.isOperationInProgress || !$ctrl.nodeList.length"
                        translate>NODE_MANAGEMENT.UNINSTALL
                </button>
            </div>
        </div>

        <bitcraft-node-list node-list="$ctrl.nodeList"
                   is-operation-in-progress="$ctrl.isOperationInProgress"
                   distribution-list="$ctrl.distributions"
                   on-check-agent-state="$ctrl.onCheckAgentState(nodeInfo)"
                   on-uninstall-node="$ctrl.onUninstallNode(nodeInfo, callback)"
                   on-update-node="$ctrl.onUpdateNode(nodeId, name, udpPort, tcpPort, adminHost, adminPort, customData)"
                   on-install-agent="$ctrl.onInstallAgent(nodeId, distributionId, callback)"
                   on-check-name="$ctrl.onCheckName(name)"
                   on-start-node="$ctrl.onStartNode(nodeInfo, callback)"
                   on-stop-node="$ctrl.onStopNode(nodeInfo, callback)"
                   on-check-agent-install="$ctrl.onCheckAgentInstall(nodeInfo)"
        ></bitcraft-node-list>

    </div>
</div>
