<table st-table="distributionList" st-safe-src="$ctrl.distributionList" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="distribution" st-sort-default="reverse" translate>DISTRIBUTION_MANAGEMENT.DATE</th>
        <th translate>DISTRIBUTION_MANAGEMENT.CATEGORY</th>
        <th translate>DISTRIBUTION_MANAGEMENT.VERSION</th>
        <th translate>DISTRIBUTION_MANAGEMENT.ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in distributionList"
        ng-class="{info: item.active}"
    >
        <td>{{item.uploadTimestamp | date : 'short'}}</td>
        <td>{{item.category}}</td>
        <td>
            <span editable-text="item.version" e-name="version" e-form="updateForm"
                  onbeforesave="$ctrl.onCheckVersion({version: $data})" e-required>
                {{ item.version || 'empty' }}
            </span>
        </td>

        <td style="white-space: nowrap">
            <!-- update node form -->
            <form editable-form name="updateForm" onbeforesave="$ctrl.updateDistribution($data, item)"
                  ng-show="updateForm.$visible" class="form-buttons form-inline">
                <button type="submit" ng-disabled="updateForm.$waiting"
                        class="btn btn-primary" translate>
                    GENERAL.SAVE
                </button>
                <button type="button" ng-disabled="updateForm.$waiting"
                        ng-click="updateForm.$cancel()" class="btn btn-default" translate>
                    GENERAL.CANCEL
                </button>
            </form>

            <div class="buttons" ng-show="!updateForm.$visible">
                <button type="button"
                        class="btn btn-default btn-xs"
                        ng-click="updateForm.$show()"
                        translate>GENERAL.EDIT</button>
                <button type="button"
                        class="btn btn-primary btn-xs"
                        ng-click="$ctrl.onDownload({distributionInfo: item})"
                        translate>GENERAL.DOWNLOAD</button>
                <button type="button"
                        class="btn btn-danger btn-xs"
                        ng-click="$ctrl.onRemove({distributionInfo: item})"
                        translate>GENERAL.REMOVE</button>
            </div>
        </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>
